/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    overflow-y: auto;
    padding: 0 15px;
    max-width: 480px; /* Makes it mobile-specific */
    margin: 0 auto;
}

/* Full-width Header Style */
header {
    width: 100%; /* Ensures header spans the full width of the screen */
    background-color: black;
    padding: 10px 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center; /* Centers the title text */
    position: relative;
    box-sizing: border-box; /* Includes padding in the width calculation */
    margin: 0; /* Removes any default margin */
    overflow: hidden; /* Prevents any unintended scrolling */
}

.table-center {
    margin-left: auto;
    margin-right: auto;
  }

  .header .logo {
    margin-right: 10px;
    width: 40px;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    margin: 0; /* Ensure title is centered without extra spacing */
}

.title-solo {
    color: white;
    margin-right: 5px; /* Add spacing between the two words */
}

.title-academy {
    color: #0000A0; /* Darker blue color */
}

/* Back and Refresh Buttons */
.back-button,
.refresh-button {
    position: absolute;
    top: 10px;
    font-size: 1.2em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px;
}

.back-button {
    left: 10px;
}

.refresh-button {
    right: 10px;
}

/* Notice Styles */
.notices {
    padding: 20px 0;
}

.notice {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.notice-date {
    font-size: 0.8em;
    color: #888;
    margin-bottom: 5px;
}
.due-date {
    font-size: 0.8em;
    color: #888;
    margin-bottom: 5px;
    text-align: left
}

.notice-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.notice-subtitle {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
}

.notice-link {
    color: #0000A0; /* Dark blue color */
    text-decoration: none;
    font-weight: bold;
}

.notice-link:hover {
    text-decoration: underline;
}
